<h2>ng-bind</h2>

<pre class="prettyprint">
&lt;div ng-controller=&quot;MyController&quot; &gt;
  &lt;span ng-bind=&quot;myData.textf()&quot;&gt;&lt;/span&gt;
&lt;/div&gt;

  &lt;script&gt;
    angular.module(&quot;myapp&quot;, [])
    .controller(&quot;MyController&quot;, function($scope) {
      $scope.myData = {};
      $scope.myData.textf = function() { return &quot;A text from a function&quot;; };
    });
  &lt;/script&gt;
</pre>

<h3>Escaping HTML From The Model</h3>

<pre class="prettyprint">
&lt;div ng-controller=&quot;MyController&quot; &gt;
  &lt;span ng-bind-html-unsafe=&quot;myData.textf()&quot;&gt;&lt;/span&gt;
&lt;/div&gt;

  &lt;script&gt;
    angular.module(&quot;myapp&quot;, [])
    .controller(&quot;MyController&quot;, function($scope) {
      $scope.myData = {};
      $scope.myData.textf = function() { return &quot;A text from a function&quot;; };
    });
  &lt;/script&gt;
</pre>
