<h2>ng-switch</h2>

<pre class="prettyprint">
&lt;div ng-controller=&quot;MyController&quot; &gt;
    &lt;div ng-switch on=&quot;myData.switch&quot;&gt;
        &lt;div ng-switch-when=&quot;1&quot;&gt;Shown when switch is 1&lt;/div&gt;
        &lt;div ng-switch-when=&quot;2&quot;&gt;Shown when switch is 2&lt;/div&gt;
        &lt;div ng-switch-default&gt;Shown when switch is anything else than 1 and 2&lt;/div&gt;
    &lt;/div&gt;
&lt;/div&gt;

&lt;script&gt;
    angular.module(&quot;myapp&quot;, [])
    .controller(&quot;MyController&quot;, function($scope) {
      $scope.myData = {};
      $scope.myData.switch = 3;
    });
&lt;/script&gt;
</pre>
