<h2>directivas</h2>
<ul class="nav nav-tabs">
    <li ng-class="{active: $routeSegment.contains('interpolation')}">
        <a href="#/base/directivas/interpolation">Interpolation</a>
    </li>
    <li ng-class="{active: $routeSegment.contains('ngbind')}">
        <a href="#/base/directivas/ngbind">ng-bind</a>
    </li>
    <li ng-class="{active: $routeSegment.contains('ngshowhide')}">
        <a href="#/base/directivas/ngshowhide">ng-show/hide</a>
    </li>
    <li ng-class="{active: $routeSegment.contains('ngswitch')}">
        <a href="#/base/directivas/ngswitch">ng-switch</a>
    </li>
    <li ng-class="{active: $routeSegment.contains('ngif')}">
        <a href="#/base/directivas/ngif">ng-if</a>
    </li>
    <li ng-class="{active: $routeSegment.contains('nginclude')}">
        <a href="#/base/directivas/nginclude">ng-include</a>
    </li>
    <li ng-class="{active: $routeSegment.contains('ngrepeat')}">
        <a href="#/base/directivas/ngrepeat">ng-repeat</a>
    </li>
</ul>
<div app-view-segment="2" class="anim">
    <h4>Bienvenido a las directivas. Selecciona una opción!</h4>
</div>
