<h2>helloWorld</h2>

<pre class="prettyprint">
&lt;!DOCTYPE html&gt;
&lt;html lang=&quot;en&quot;&gt;
&lt;head&gt;
    &lt;script src=&quot;//ajax.googleapis.com/ajax/libs/angularjs/1.3.0-rc.2/angular.min.js&quot;&gt;&lt;/script&gt;
&lt;/head&gt;
&lt;body ng-app=&quot;myapp&quot;&gt;

    &lt;div ng-controller=&quot;HelloController&quot; &gt;
        &lt;h2&gt;Hello {{helloTo.title}} !&lt;/h2&gt;
    &lt;/div&gt;

&lt;script&gt;
    angular.module(&quot;myapp&quot;, [])
        .controller(&quot;HelloController&quot;, function($scope) {
            $scope.helloTo = {};
            $scope.helloTo.title = &quot;World, AngularJS&quot;;
        });
&lt;/script&gt;
&lt;/body&gt;
&lt;/html&gt;  
</pre>