body {
    overflow-x: hidden;
}
.footer {
    margin-top:80px;
}
#content {
    margin-top: 60px;
}

.navbar .label {
    position: relative;
    top: 11px;
}

.top-row {
	text-align: center;
	margin: 10px 0;
}

.top-row a div {
	font-size: 10px;
	line-height: 12px;
}

.anim.ng-enter {
/*	transition: opacity 1s;
	opacity: 0.0; */
}

.anim.ng-enter-active {
/*	opacity: 1.0; */
}
.anim.ng-leave {
    display: none;
}

#loading {
    position: fixed;
    width: 80px;
    top: 0px;
    right: 0px;
    z-index: 1040;
}
.well {
    background-image: none;
    background-color: #1b1b1b;
    border: 0;
}

