<div>
    <div class="span2">
        <div class="well">
            <ul class="nav nav-list">
            
                <li ng-class="{active: ('s1.home' | routeSegmentStartsWith)}">
                    <a href="#{{ 's1' | routeSegmentUrl }}">init</a>
                </li>
                
                <li class="nav-header">Items</li>
                
                <li ng-class="{active: ('s1.helloworld' | routeSegmentStartsWith)}">
                    <a href="#{{ 's1.helloworld' | routeSegmentUrl }}">helloWorld</a>
                </li>
                <li ng-class="{active: ('s1.directivas' | routeSegmentStartsWith)}">
                    <a href="#{{ 's1.directivas' | routeSegmentUrl }}">directivas</a>
                </li>
                <li ng-class="{active: ('s1.filtros' | routeSegmentStartsWith)}">
                    <a href="#{{ 's1.filtros' | routeSegmentUrl }}">filtros</a>
                </li>
                
                
            </ul>
        </div>
        
        
        
    </div>
    
    <div class="span10 anim" app-view-segment="1"></div>
</div>
